################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GLFWStarterProject/x64
/packages
/x64/Release
/x64/Debug
